@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

* {
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #F3F2EF;
}

header {
  position: fixed;
  display: flex;
  align-self: flex-end;
  justify-content: end;
  width: 100vw;
  height: auto;
  background-color: #1a1a1a;
  z-index: 3;

}

.bg-light {
  background-color: rgba(236, 224, 224) !important;
  color: #fff;
}

.navbar {
  width: 100%;
  background-color: #1a1a1a !important;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.navbar .logo {
  width: 50px;
  height: 50px;
}

.nav-link {
  display: flex;
  color: #ffffff !important;
  justify-content: space-between;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke=' rgba(255, 255, 255, 0.918)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

.navbar-light .navbar-toggler {
  border-color: white;
  margin: 1%;

}

.collapse {
  justify-content: end;
  align-items: end;
}

.main {
  height: 100vh;
  width: 100%;
}

.wrapper,
.slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  overflow: hidden;
}

.slide::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.slide .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slide .image-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 100;
}

.image-data span.text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.aH {
  font-size: 34px;
  font-weight: 400;
  color: #272727;
}

.image-data h2 {
  font-size: 45px;
  font-weight: 600;
  color: #fff;
}

a.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  color: #000000;
  background: #fff;
  text-decoration: none;
  margin-top: 25px;
  transition: all 0.3s ease;
}

a.button:hover {
  color: #fff;
  background-color: #000000;
}

/* swiper button css */
.nav-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}

.nav-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

.swiper-button-next {
  right: 50px;
}

.swiper-button-prev {
  left: 50px;
}

.nav-btn::before,
.nav-btn::after {
  font-size: 25px;
  color: #fff;
}

.swiper-pagination-bullet {
  opacity: 1;
  height: 12px;
  width: 12px;
  background-color: #fff;
  visibility: hidden;
}

.swiper-pagination-bullet-active {
  border: 2px solid #fff;
  background-color: #c87e4f;
}

/* Estilos CARDS */

.nuestros-productos .container {
  text-align: center;
  padding: 30px 12px;
  gap: 1rem;
}

.card {
  margin: 3% 0;
  padding: 1%;
}

.nuestros-productos img {
  width: 80%;
  height: 55%;
  border: none;
  border-radius: 30px;
  margin: 2% auto;
  transition: all 400ms;
}

.card img:hover {

  box-shadow: 0px 0px 10px #000;
}

.nuestros-productos button {
  border-radius: 20px;
  background-color: black;
  color: white;
  width: 30%;
  height: 65%;
  font-weight: 300;
  margin: 3%;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 500ms;
}

.nuestros-productos button:hover {
  box-shadow: 0px 0px 12px #000;
  font-size: 1.3rem;

}

/*ESTILOS CONTACTANOS*/

#contactanos {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: 5% 0;

}

.icono_contacto {
  color: rgb(87, 82, 82);
  font-size: 2rem;
}

.container_contacto {
  display: grid;
  grid-template-areas:
    "contacto-2 contacto-2 contacto-2";
  background-color: #fff;
  padding: 5%;
  margin-top: 3%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 20px;
  border-radius: 30px;
}

.contacto-2 {
  display: block;
  border: none;
  margin: 3%;
  text-align: center;
  width: 25vw;

}

.contacto-2 a {
  color: #e22e16;
}


.contact-info a {
  display: block;
  margin-bottom: 10px;
  color: #ce0808;
  text-decoration: none;
}

/*FORM DE ENVIO DE FORMULARIO CONTACTANOS diseño*/
#contactForm {
  display: none;
}

#title img {
  width: 120px;
  padding: 2% 2%;
}

h1 {
  color: black;
  font-size: 2.2rem;
}

.form {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-areas:
    "image container";
  text-align: center;
  margin: 5%;

  font-family: "Poppins", sans-serif;
}

#imagen img {
  grid-area: image;
  width: 100%;
  height: 100%;
  border-radius: 100px 0 0 100px;
}

.container_Form {
  grid-area: container;
  display: block;
  flex-direction: column;
  border-radius: 0 100px 100px 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.74);
  ;
}

#formulario {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 10% 5%;
  background-color: rgba(255, 255, 255, 0.452);
  flex-wrap: wrap;
  border-radius: 20px;
  border: 2px solid rgba(165, 161, 161, 0.1);

}

#formulario input {
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: transparent;
  border-bottom: 1px solid gray;
  margin: 5% 0;
  padding: 2%;
  width: 80%;

}


#formulario textarea {
  width: 80%;
  margin: 2% 0;
  padding: 2%;
  font-size: 1rem;
  border: none;
  outline: none;
  text-align: center;
  background-color: transparent;
  border-bottom: 1px solid gray;
}

#formulario button {
  background-color: #0f100f;
  color: white;
  width: 20%;
  margin: 5%;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.3rem;
  transition: all 300ms;
}

#formulario button:hover {
  box-shadow: 0px 0px 10px 10px #1d1c1c21;
  transition: all 300ms;
}


/* ESTILOS SOBRE NOSOTROS TIENDA */
#sobre_nosotros_tienda {

  justify-content: end;
}

.title {
  text-align: center;
  margin-top: 5%;
  letter-spacing: 2px;
}

.container-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.box {
  width: 380px;
  height: 500px;
  margin: 10px;
  padding: 0px;
  border: 2px solid #eeeeee;
  border-radius: 14px;
  text-align: center;
  margin-top: 100px;
  position: relative;
  box-shadow: 25px 25px 40px rgba(0, 0, 0, 0.15);
  ;

}

.box img {
  width: 100%;
  height: 70%;
  transition: all 400ms;
  border-radius: 13px;
  border-bottom: 3px solid #4d4b4b;


}

.box h2 {
  font-size: 14px;
  margin-top: 20px;
  transition: all 500ms;
}

.box .container-p {
  width: 100%;
  height: 150px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  padding: 20px 10px;
  border-radius: 0px 0px 14px 14px;
  text-align: justify;
}

.box p {
  /* para que suba que le pongo  */
  font-family: 'Hanuman', sans-serif;
  font-size: 14px;
  color: #4d4b4b;
  opacity: 0;
  transform: translateY(150px);
  transition: all 600ms;
}


.box:hover {
  background: rgba(243, 242, 239, 1);
}

.box:hover img {
  transform: translateY(-90px);
}

.box:hover h2 {
  transform: translateY(-90px);
}

.box:hover .container-p p {
  transform: translateY(0px);
  opacity: 1;
}

footer {
  background-color: #1a1a1a;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #f5f5f5;
  font-size: 20px;
}

.contact-info a {
  display: block;
  margin-bottom: 10px;
  color: #f5f5f5;
  text-decoration: none;
}

.contact-info i {
  margin-right: 5px;
}

.p-footer {
  margin: 0;
  color: #9e9e9e;
}


/* Estilos para la barra de cookies */

.cookie-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

.cookie-text h2 {
  margin-bottom: 30px;
}


.cookie-text {
  flex: 1;
  margin-right: 50px;
  font-size: 14px;

}

.cookie-button button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline;
}


.cookie-button lord-icon {
  width: 35px;
  height: 35px;
}


.cookie-button button:hover {
  opacity: 0.7;
}



/*MEDIA RESPONSIVE SECCION*/
@media(max-width:980px) {
  .container_contacto {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 0;
    padding: 3% 0;
    font-size: 20px;
    border-radius: 30px;

  }

  .contacto-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
  }

}

@media(min-width:850px) {
  .nuestros-productos .container {
    display: flex;
    justify-content: space-around;
  }

  .nuestros-productos {
    width: 100%;
    max-width: 100%;
    text-align: initial;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0.3;
  }

  .nuestros-productos p {
    font-size: 30px;
    color: rgb(125, 122, 118);
    font-family: 'Teko';
    font-weight: 500;
    margin-top: 5%;
  }

  .nuestros-productos h3 {
    margin-top: 5%;
    font-size: 45px;
    font-family: 'Teko';
  }

  .card button {
    margin-top: 10%;
  }

}

@media(max-width:850px) {

  .collapse.show li {
    padding: 5% 2%;
  }

}


@media (max-width: 767px) {
  .form {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-areas:
      "container container";
    text-align: center;
    margin: 5%;
    font-family: "Poppins", sans-serif;
  }

  .container_Form {
    border-radius: 80px 80px;
  }

  #imagen {
    display: none;
  }

  .social-icons a,
  .contact-info a {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .nav-btn {
    visibility: hidden;
  }

  .swiper-pagination-bullet {
    visibility: visible;
  }

}